<template lang="pug">
  div
    .container
      .row.page-title.clearfix
        .page-title-left
          h6(class="page-title-heading mr-0 mr-r-5") Author Dashboard
          p(class="page-title-description mr-0 d-none d-md-inline-block") Create or edit problems, blogs
    .container
      .widget-list
        .row
          .col-md-8.widget-holder
            b-nav(pills)
              b-nav-item(active) Problems
              b-nav-item Blogs
        .row
          .col-md-9.widget-holder
            .widget-body.widget-bg
              b-list-group
                b-list-group-item(href="#" class="flex-column align-items-start" v-for="problem in problems" 
                  v-bind:key="problem.problemHandleStr" @click="toProblem(problem.problemHandleStr)")
                  .d-flex.w-100.justify-content-between
                    h5(class="mb-1") {{problem.problemTitleStr}}
                    small
                      timeago(:datetime="problem.created_at" :auto-update="60")

          .col-md-3.widget-holder.pull-right
            .widget-body.widget-bg
              .text-center
                b-button(variant="success" v-b-modal="'authorCreateModal'") Create new problem
    b-modal(id="authorCreateModal" centered title="Create a problem" 
      ok-title="Create" @ok="createProblem" @cancel="createProblemData.errors=[]")
      b-alert(variant="danger" dismissible :show="createProblemData.errors.length > 0" 
            @dismissed="createProblemData.errors=[]" class="border-danger")
        p
          strong Whoops! Got some errors
        ul.mr-t-10
          li(v-for="(error, index) of createProblemData.errors" :key="`createproblemerror-${index}`") {{error}}
      b-form-group(label="Problem Title", description="Give an awesome name to your problem")
        b-form-input(v-model="createProblemData.title" required)
      b-form-group(label="Problem Handle", description="It has to be unique and not more than 30 characters")
        b-form-input(v-model="createProblemData.handle" required)
</template>


<script>
import VueTimeago from 'vue-timeago'
export default {
  middleware: 'redirectIfNotLoggedIn',
  components: {
    VueTimeago
  },
  data () {
    return {
      problems: [],
      createProblemData: {
        title: '',
        handle: '',
        errors: []
      }
    }
  },
  async asyncData ({store}) {
    const problems = await store.dispatch('author/getProblems')
    console.log(problems)
    return {'problems': problems.data}
  },
  methods: {
    toProblem (problemHandle, edit = false) {
      console.log(problemHandle)
      let nextRoute = `author/problem/${problemHandle}`
      if (edit) {
        nextRoute += '/edit'
      }
      this.$router.push(nextRoute)
    },
    async createProblem (evt) {
      evt.preventDefault()
      const resp = await this.$store.dispatch('author/createProblem', this.createProblemData)
      console.log(resp)
      if (!resp.success) {
        this.createProblemData.errors = resp.errors
      } else {
        this.toProblem(resp.data.problemHandleStr, true)
      }
    }
  }
}
</script>