<template>
  <nav class="navbar">
    <div class="container px-0 align-items-stretch">
      <!-- Logo Area -->
      <div class="navbar-header">
        <nuxt-link to="/" class="navbar-brand logo-white text-center">
          <p>LightOJ</p>
        </nuxt-link>
      </div>
      <!-- /.navbar-header -->
      <!-- Left Menu & Sidebar Toggle -->
      <ul class="nav navbar-nav">
        <li class="sidebar-toggle dropdown"><a href="javascript:void(0)" class="ripple"><i
            class="material-icons list-icon md-24">menu</i></a>
        </li>
      </ul>
      <!-- /.navbar-left -->
      <!-- Search Form -->
      <form class="navbar-search d-none d-sm-block" role="search">
        <i class="material-icons list-icon">search</i>
        <input type="search" class="search-query" placeholder="Search anything..."> <a href="javascript:void(0);"
                                                                                       class="remove-focus">
        <i class="material-icons md-24">close</i></a>
      </form>
      <!-- /.navbar-search -->
      <div class="spacer"></div>
      <!-- Right Menu -->
      <ul class="nav navbar-nav d-none d-lg-flex ml-2 ml-0-rtl">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
            class="material-icons list-icon">notifications_none</i> <span class="button-pulse bg-danger"></span></a>
          <div class="dropdown-menu dropdown-left dropdown-card animated flipInY">
            <div class="card">
              <header class="card-header d-flex justify-content-between mb-0"><a href="javascript:void(0);"><i
                  class="material-icons color-primary" aria-hidden="true">notifications_none</i></a> <span
                  class="heading-font-family flex-1 text-center fw-400">Notifications</span>
                <a href="javascript:void(0);"><i class="material-icons color-content">settings</i>
                </a>
              </header>
              <ul class="card-body list-unstyled dropdown-list-group ps">
                <li><a href="#" class="media"><span class="d-flex"><i class="material-icons list-icon">check</i> </span>
                  <span
                    class="media-body"><span class="heading-font-family media-heading">Invitation accepted</span> <span
                    class="media-content">Your have been Invited ...</span></span></a>
                </li>
                <li><a href="#" class="media"><span class="d-flex thumb-xs user--online"><img
                    src="assets/demo/users/user3.jpg" class="rounded-circle" alt=""> </span><span
                    class="media-body"><span class="heading-font-family media-heading">Steve Smith</span> <span
                    class="media-content">I slowly updated projects</span></span></a>
                </li>
                <li><a href="#" class="media"><span class="d-flex"><i
                    class="material-icons list-icon">event_available</i> </span><span class="media-body"><span
                    class="-heading-font-family media-heading">To Do</span> <span class="media-content">
                  Meeting with Nathan on Friday 8 AM ...</span></span></a>
                </li>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                  <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps__rail-y" style="top: 0px; right: 0px;">
                  <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                </div>
              </ul>
              <!-- /.dropdown-list-group -->
              <footer class="card-footer text-center"><a href="javascript:void(0);"
                                                         class="headings-font-family text-uppercase fs-13">See all
                activity</a>
              </footer>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.dropdown-menu -->
        </li>
        <!-- /.dropdown -->
        <li><a href="javascript:void(0);" class="right-sidebar-toggle"><i
            class="material-icons list-icon">border_all</i></a>
        </li>
      </ul>
      <!-- /.navbar-right -->
      <!-- User Image with Dropdown -->
      <auth/>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.container -->
  </nav>
</template>

<style>
  .logo-white {
    color: white;
  }

  .logo-white:hover {
    color: #eff2f7;
  }
</style>

<script>
  import Auth from './Auth.vue'
  export default {
    components: {
      Auth
    }
  }
</script>