<template lang="pug">
  div
    .container
      .row.page-title.clearfix
        .page-title-left
          h6(class="page-title-heading mr-0 mr-r-5") {{problem.problemTitleStr}}
          p(class="page-title-description mr-0 d-none d-md-inline-block") {{problem.problemHandleStr}}
    .container
      .widget-list
        .row
          .col-md-8.widget-holder
            b-nav(pills)
              b-nav-item(active="false") Statement
              b-nav-item Datasets
              b-nav-item Solutions
              b-nav-item Settings
        .row
          .col-md-9.widget-holder
            .widget-body.widget-bg
              b-form
                b-form-group(label="Title")
                  b-form-input(type="text" v-model="problem.description.title.descMarkdownStr")
                b-form-group(label="Description")
                  no-ssr
                    markdown-editor(v-model="problem.description.main.descMarkdownStr" :configs="editor.configs")
                b-form-group(label="Input")
                  no-ssr
                    markdown-editor(v-model="problem.description.input.descMarkdownStr" :configs="editor.configs")
                b-form-group(label="Output")
                  no-ssr
                    markdown-editor(v-model="problem.description.output.descMarkdownStr" :configs="editor.configs")
                b-form-group(label="Notes")
                  no-ssr
                    markdown-editor(v-model="problem.description.note.descMarkdownStr" :configs="editor.configs")

          .col-md-3.widget-holder.pull-right
            .widget-body.widget-bg
              .text-center
                div.row
                  div.col-md-4
                    b-button(variant="success"  v-on:click="updateProblem") Save
                  div.col-md-4
                    b-button(variant="warning") Publish
</template>

<script>

export default {
  middleware: 'redirectIfNotLoggedIn',
  async asyncData ({store, params, error}) {
    const problemData = await store.dispatch('author/getProblemByHandle', params.handle)
    if (!problemData) {
      return error({ statusCode: problemData.statusCode })
    }
    return {'problem': problemData.data.problem, 'role': problemData.data.role}
  },
  data () {
    return {
      content: ' $\\LaTeX$ parser made by [CodeAssign](https://codeassign.com)',
      editor: {
        configs: {
          toolbar: ['bold', 'italic', 'heading', '|', 'unordered-list', 'ordered-list', '|', 'code', 'link', 'image', '|', 'preview'],
          previewRender: function (plainText, preview) {
            preview.innerHTML = this.parent.markdown(plainText)
            if (window.MathJax) {
              window.MathJax.Hub.Config({
                tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
              })
              window.MathJax.Hub.Queue(['Typeset', window.MathJax.Hub, preview])
            }
            return preview.innerHTML
          },
          spellChecker: false,
          status: false
        }
      }
    }
  },
  methods: {
    async updateProblem () {
      const resp = await this.$store.dispatch('author/updateProblem', this.problem)
      console.log(resp)
      this.problem = resp.data.problem
      this.role = resp.data.role
    }
  },
  head: {
    meta: [
      { name: 'title', content: 'Author Problem' }
    ]
  }
}
</script>

<style scoped>
.CodeMirror,.CodeMirror-scroll {
    max-height: 250px;
    min-height: 250px;
    max-width: 100%;
    overflow-x: hidden;
}
</style>
