<template lang="pug">
  div
    .container
      .row.page-title.clearfix
        .page-title-left
          h6(class="page-title-heading mr-0 mr-r-5") Problem Name
          p(class="page-title-description mr-0 d-none d-md-inline-block") problem_handle
    .container
      .widget-list
        .row
          .col-md-9.widget-holder
            .widget-body.widget-bg
              no-ssr
                div(ref="preview")
                  p(v-html="problemDescription.description")
                  p(v-html="problemDescription.description")
          .col-md-3.widget-holder.pull-right
            .widget-body.widget-bg
              .text-center
                div.row
                  div.col-md-4
                    b-button(variant="info") Edit
                  div.col-md-4
                    b-button(variant="danger") Delete
</template>

<script>
import markdown from 'marked'
export default {
  middleware: 'redirectIfNotLoggedIn',
  data () {
    return {
      errors: [],
      problem: {},
      userRole: '',
      problemDescription: {
        description: '$$ f(x) = \\int_{-\infty}^\infty\hat f(\\xi)\\,e^{2 \\pi i \\xi x}\,d\\xi $$' // eslint-disable-line
      }
    }
  },
  computed: {
  },
  created () {
    this.problemDescription.description = markdown(this.problemDescription.description)
  },
  mounted () {
    if (window.MathJax) {
      let descriptionRefs = this.$refs.preview
      setTimeout(function () {
        window.MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        })
        window.MathJax.Hub.Queue(['Typeset', window.MathJax.Hub, descriptionRefs])
      }, 1000)
    }
  },
  async asyncData ({ store, params, error }) {
    const data = await store.dispatch('author/getProblemByHandle', params.handle)
    if (!data.success) {
      return error({ statusCode: data.statusCode })
    }
    return {
      problem: data.problem,
      userRole: data.role
    }
  },
  head: {
    meta: [
      { name: 'title', content: 'Author Problem' }
    ]
  }
}
</script>
